@charset "utf-8";

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: local('※'),
    url('../font/NanumSquareL.woff') format('woff');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: local('※'),
    url('../font/NanumSquareR.woff') format('woff');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: local('※'),
    url('../font/NanumSquareB.woff') format('woff');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: local('※'),
    url('../font/NanumSquareEB.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
    url('../font/NotoSansKR-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: local('※'),
    url('../font/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: local('※'),
    url('../font/NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local('※'),
    url('../font/NotoSansKR-Bold.woff2') format('woff2');
}
